{% load static %}
<!-- < row 4 > -->
<div class="row">
    <div align="center" class="col-3">
      <b><h4>ONLINE SHOPPING</h4></b>
      <a href=""><p>SKIN</p></a>
      <a href=""><p>HAIRS</p></a>
      <a href=""><p>BATH & BODY</p></a>
      <a href=""><p>NUTRITION</p></a>
      <a href=""><p>KIDS</p></a>
      <a href=""><p>BLOGS</p></a>
    </div>
  
    <div align="center" class="col-3">
      <b><h4>EXPLORE</h4></b>
      <a href=""><p>Our story</p></a>
      <a href=""><p>FAQs</p></a>
      <a href=""><p>Blog</p></a>
      <a href=""><p>Contact Us</p></a>
    </div>
  
    <div align="center" class="col-3">
      <b><h4>QUICK LINKS</h4></b>
      <a href=""><p>My Account</p></a>
      <a href=""><p>Track Your Order</p></a>
      <a href=""><p>Refund policy</p></a>
      <a href=""><p>Return policy</p></a>
      <a href=""><p>Privacy Policy</p></a>
      <a href=""><p>Refer and save</p></a>
    </div>
  
    <div align="center" class="col-3">
      <b><h4>EXPERIENCE SUPERTAILS APP ON MOBILE</h4></b><br>
      <b><h4>FOLLOW US</h4></b>
      
      <a href=""><i class="bi bi-instagram p-1"></i></a>
      <a href=""><i class="bi bi-facebook p-1"></i></a>
      <a href=""><i class="bi bi-youtube p-1"></i></a>
      <a href=""><i class="bi bi-twitter p-1"></i></a>
      <a href=""><i class="bi bi-linkedin p-1"></i></a>
      <br><br>
      <b><h5>GET IN TOUCH</h5></b>
      <p><a href=""><i class="bi bi-telephone"></i> 1800-5701-502</a></p>
      <p><a href=""><i class="bi bi-envelope"></i> support@wowapp.com</a></p>
    </div>
  </div>
  <!-- < row 4 > -->
  </div>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  
  </body>
  </html>